.App {
  text-align: center;
  color: #d4af37;
}

.Search {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #a28834;
}

.search_button {
  padding-left: 2px;
  height: 1em;
  width: 1em;
}
